@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  font-family: "Inter", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  display: flex;

  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#ECEFFE, #CED6FB);
}
.card-list .card-item .card-link {
  width: 400px;
  display: block;
  text-decoration: none;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.05);
  border: 2px solid transparent;
  transition: 0.2s ease;
  user-select: none;
}
.card-list .card-item .card-link:hover {
  border-color: #5372F0;

}
.card-list .card-item {
  list-style: none;
}
.card-list .card-link .badge {
  color: #5372F0;
  border-radius: 50px;
  background: #DDE4FF;
  margin: 16px 0 18px;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  width: fit-content;
}
.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;

}
.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 30px 0 5px;
  color: #5372F0;
  background: none;
  cursor: pointer;
  border: 2px solid #5372F0;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}
.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #5372F0;
}


/* x4 */
.card-list .card-link .badge.designer {
  color: #B22485;
  background: #F7DFF5;
}
.card-list .card-link .badge.marketer {
  color: #B25A2B;
  background: #FFE3D2;
}
.card-list .card-link .badge.gamer {
  color: #205C20;
  background: #D6F8D6;
}
.card-list .card-link .badge.editor {
  color: #856404;
  background: #fff3cd;
}